<link rel="stylesheet" href="/css/moneytransfer.css" />

<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="sidenav">
  <div class="login-main-text">
      <h2>ProtectPay</h2>
    </a>
    <p>Transfer Money</p>
  </div>
</div>
<div class="main">
  <div class="start">
    <a class="dashlink" href="/users/dashboard">
      <button type="submit" class="btn btn-black">Dashboard</button></a>
    <div class="heading">
      <h2>Payee List</h2>
    </div>
    <div class="card text-center">
      <div class="card-header">
        Select Payee from the list.
      </div>
      <div class="card-body">
        <select class="browser-default custom-select custom-select-lg mb-3" id="payee">
          <option>Select Payee</option>
          <% for(let i of payee_list) {%>
          <option value="<%= i.account_number %>"><%= i.name %>  (Ac. no. <%= i.account_number %>)</option>
          <%}%>
        </select>
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <button
          type="submit"
          class="open-button btn btn-secondary"
          onclick="openForm()"
        >
          One time payment
        </button>
        <button
          type="submit"
          class="open-button btn btn-secondary"
          onclick="openForm1()"
        >
          Schedule Payment
        </button>
      </div>
    </div>
    <!-- <% for(let i of payee_list) {%>     
    <ul class="details">
      <li><p><%= i.name %></p></li>
      <li><p>Account: <%= i.account_number %></p></li>
      <li>
        <button
          type="submit"
          class="open-button btn btn-secondary"
          id="pay"
          onclick="openForm(<%= i.account_number %>)"
        >
          One time payment
        </button>
      </li>
      <li>
        <button
          type="submit"
          class="open-button btn btn-secondary"
          onclick="openForm1()"
        >
          Schedule payment
        </button>
      </li>

    </ul>

    <%}%> -->
  </div>
</div>

<div class="form-popup" id="myForm">
  <form action="/users/moneyTransfer" method="POST" class="form-container">
    <!-- <h1 name="account_number" id="act"></h1> -->
    <div class="form-group">
      <b>Account number</b>
      <input
        type="number"
        name="account_number"
        class="form-control"
        placeholder="Amount"
        id="act"
        readonly
      />
    </div>
    <label for="amount"><b>Add Amount</b></label>
    <input type="number" placeholder="Enter Amount" name="balance" required />
    <button type="submit" class="btn">Transfer</button>
    <button type="button" class="btn cancel" onclick="closeForm()">
      Cancel
    </button>
  </form>
</div>

<script>
  function openForm() {
    document.getElementById("myForm").style.display = "block";
    //var value = getValue();
    var e = document.getElementById("payee");
    var acc = e.options[e.selectedIndex].value;
    document.getElementById("act").value = acc;
  }

  function closeForm() {
    document.getElementById("myForm").style.display = "none";
  }

  function getValue(selectObject) {
    var e = document.getElementById("payee");
    var strUser = e.options[e.selectedIndex].value;
    var value = selectObject.value; 
    console.log(value);
    return value;
  }
</script>
